/5/BasicCalculator/nbproject/private/
/5/BasicCalculator/build/
/4(a)/BasicQuizApp/nbproject/private/
/4(a)/BasicQuizApp/build/
/7(a)/JspLoginApp/nbproject/private/
/7(a)/JspLoginApp/build/
/7(a)/JspLoginApp/dist/
/5/JspUserRegistration/nbproject/private/
/6(a)/JspUserRegistration/build/
/6(a)/JspUserRegistration/dist/
/7(a)/practical/nbproject/private/
/7(a)/practical/build/