/5/BasicCalculator/nbproject/private/
/5/BasicCalculator/build/
/4(a)/BasicQuizApp/nbproject/private/
/4(a)/BasicQuizApp/build/
/7(a)/JspLoginApp/nbproject/private/
/7(a)/JspLoginApp/build/
/7(a)/JspLoginApp/dist/
/5/JspUserRegistration/nbproject/private/
/6(a)/JspUserRegistration/build/
/6(a)/JspUserRegistration/dist/
/7(a)/practical/nbproject/private/
/7(a)/practical/build/
/netbeans/4/nbproject/private/
/netbeans/4/build/
/netbeans/5/nbproject/private/
/netbeans/5/build/
/netbeans/6/nbproject/private/
/netbeans/6/build/
/netbeans/7/nbproject/private/
/netbeans/7/build/
/netbeans/8/nbproject/private/
/netbeans/8/build/
/netbeans/WebApplication1/nbproject/private/
/netbeans/WebApplication1/dist/
/netbeans/WebApplication1/build/